/* Reset */
* { margin:0; padding:0; box-sizing:border-box; }

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #2a000d;
    color: #fff;
}

/* Header */
header {
    background-color: #4d0018;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: gold;
    letter-spacing: 2px;
}

nav a {
    color: gold;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(43,0,26,0.8)),
                url('https://images.unsplash.com/photo-1594035910387-fea47794261f');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    color: gold;
}

/* Sections */
.section {
    padding: 80px 60px;
}

.section h2 {
    color: gold;
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
}

/* Cards Grid */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 30px;
    justify-items: center;
}

.card {
    background: #66001f;
    padding: 20px;
    text-align: center;
    border: 2px solid gold;
    border-radius: 12px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #800026;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    margin-top: 15px;
    font-size: 22px;
    color: gold;
}

/* Button */
button {
    background: gold;
    color: #4d0018;
    border: none;
    padding: 12px 25px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
}

button:hover {
    background: #e6c97a;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px;
    background-color: #4d0018;
    color: gold;
}
